@model Frontend.Models.Skelbimas
@{
    ViewData["Title"] = "EditAd";
    if (TempData["Role"] != null)
    {
        switch (TempData["Role"].ToString())
        {
            case "1":
                Layout = "_UserLayout";
                break;
            case "2":
                Layout = "_AdminLayout";
                break;
            default:
                break;
        }
    }
}

<style>
</style>

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        .preview-images-zone {
            width: 100%;
            border: 1px solid #ddd;
            min-height: 180px;
            /* display: flex; */
            padding: 5px 5px 0px 5px;
            position: relative;
            overflow: auto;
        }

            .preview-images-zone > .preview-image:first-child {
                height: 185px;
                width: 185px;
                position: relative;
                margin-right: 5px;
            }

            .preview-images-zone > .preview-image {
                height: 90px;
                width: 90px;
                position: relative;
                margin-right: 5px;
                float: left;
                margin-bottom: 5px;
            }

                .preview-images-zone > .preview-image > .image-zone {
                    width: 100%;
                    height: 100%;
                }

                    .preview-images-zone > .preview-image > .image-zone > img {
                        width: 100%;
                        height: 100%;
                    }

                .preview-images-zone > .preview-image > .tools-edit-image {
                    position: absolute;
                    z-index: 100;
                    color: #fff;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                    display: none;
                }

                .preview-images-zone > .preview-image > .image-cancel {
                    font-size: 18px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-weight: bold;
                    margin-right: 10px;
                    cursor: pointer;
                    display: none;
                    z-index: 100;
                }

        .preview-image:hover > .image-zone {
            cursor: move;
            opacity: .5;
        }

        .preview-image:hover > .tools-edit-image,
        .preview-image:hover > .image-cancel {
            display: block;
        }

        .ui-sortable-helper {
            width: 90px !important;
            height: 90px !important;
        }
    </style>

    <script>

        $(document).ready(function () {
            document.getElementById('pro-image').addEventListener('change', readImage, false);

            //$(".preview-images-zone").sortable();

            $(document).on('click', '.image-cancel', function () {
                let no = $(this).data('no');
                $(".preview-image.preview-show-" + no).remove();
            });
        });



        var num = 4;
        function readImage() {
            if (window.File && window.FileList && window.FileReader) {
                var files = event.target.files; //FileList object
                var output = $(".preview-images-zone");

                for (let i = 0; i < files.length; i++) {
                    var file = files[i];
                    if (!file.type.match('image')) continue;

                    var picReader = new FileReader();

                    picReader.addEventListener('load', function (event) {
                        var picFile = event.target;
                        var html = '<div class="preview-image preview-show-' + num + '">' +
                            '<div class="image-cancel" data-no="' + num + '">x</div>' +
                            '<div class="image-zone"><img id="pro-img-' + num + '" src="' + picFile.result + '"></div>' +
                            '<div class="tools-edit-image"><a href="javascript:void(0)" data-no="' + num + '" class="btn btn-light btn-edit-image">edit</a></div>' +
                            '</div>';

                        output.append(html);
                        num = num + 1;
                    });

                    picReader.readAsDataURL(file);
                }
                //$("#pro-image").val('');
            } else {
                console.log('Browser not support');
            }
        }


    </script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-11 col-md-9 col-lg-7 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body" style="box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 1);">
                        <h5 class="card-title text-center">Edit advertisement</h5>
                        <form class="form-signin" method="post" enctype="multipart/form-data">
                            <input type="file" name="indexPicture" /><br />
                            <p>---------------------------------------------------------</p>
                            <div class="input-group mb-3">
                                <select required class="bg-primary custom-select bg-light col-sm-3" name="FkCategoryId">
                                    <option value="" disabled selected>Category</option>
                                    @if (Model != null)
                                    {
                                        @foreach (var category in ViewBag.Categories)
                                        {
                                            if (category.Id == Model.FkCategoryId)
                                            {
                                                <option selected value="@category.Id">@category.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        }
                                    }
                                </select>
                                <input required type="text" class="form-control" placeholder="Item name" value="@Model.Title" aria-label="itemname" name="Title" aria-describedby="basic-addon1" maxlength="30">
                            </div>
                            <!----------------------UPLOAD PICTURES------------------------------------------->
                            <div class="mr-auto ml-auto border p-4 mb-3">
                                <fieldset class="form-group">
                                    <a href="javascript:void(0)" onclick="$('#pro-image').click()">Upload Image</a>
                                    <input type="file" id="pro-image" name="images" style="display: none;" class="form-control" multiple>
                                </fieldset>
                                <div class="preview-images-zone">
                                    <div class="preview-image preview-show-1">
                                        <div class="image-cancel" data-no="1">x</div>
                                        <div class="image-zone"><img id="pro-img-1" src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA5Ny85NTkvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzYzOTcxNjY1LmpwZw=="></div>
                                    </div>

                                </div>
                            </div>

                            <!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^UPLOAD PICTURES^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->




                            <div class="input-group mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Description</span>
                                    </div>
                                    <textarea required class="form-control" name="Description" aria-label="Description" rows="6" maxlength="255">@Model.Description</textarea>
                                </div>
                            </div>

                            <div class="input-group mb-3">

                                <input required type="text" class="form-control" name="Price" placeholder="Price" value="@Model.Price" aria-label="price" pattern="[0-9\.]{1,8}" title="numbers with . only">

                                <div class="input-group-append">
                                    <span class="input-group-text">&euro;</span>
                                </div>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" formaction="@Url.Action("UpdateAd", "Ads", Model)">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


